
  <h3>New book</h3>
  <%= form_with model: book do |f| %>
  <div class="form-group">
    <span><%= f.label :Title %></span>
    <span><%= f.text_field :title %></span>
  </div>
    <%= f.label :Opinion %>
    <%= f.text_area :body %>
    <%= f.submit 'Create Book' %>
  <% end %>
</div>