<div class="container">
  <div class="row">
    <div class="col-4">
      <%= render 'public/users/info', user: @user %>
      <%= render 'public/books/form', book: @new_book %>
    </div>
    <div class="col-8">
      <h3>Book detail</h3>
      <table>
        <tr>
          <td></td>
          <td>
            <%= link_to book_path(@book.id) do %>
              <%= @book.title %>
            <% end %>
          </td>
          <td><%= @book.body %></td>
        </tr>
      </table>
    </div>
  </div>
</div>